body
{
    background-color:#000000;
    font-family: Georgia, Times, serif; font-size: 10pt;
}

#header
{
    display:none;
}

#menu
{
    display:none;
}

#content
{
    background-color:white;
    text-align: left;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    border-style:none;

}

#footer
{
    display:none;
}

#content a:after
{
    content:" (" attr(href) ") ";
}
