body
{
    background-color:#000000;
    font-family: Georgia, Times, serif; font-size: 10pt;
}

header, #header
{
    display:none;
}

nav, #menu
{
    display:none;
}

main, #content
{
    background-color:white;
    text-align: left;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    border-style:none;

}

footer, #footer
{
    display:none;
}

article a:after, #content a:after
{
    content:" (" attr(href) ") ";
}
