body
{
    background-color:#000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#container 
{
    max-width:960px;
    background-color:#727272;
    margin: 0 auto;
    text-align: left;

}

#header
{
    width:960px;
    
}    

#navigator
{
    float:left;
}

    
#content
{
    width:760px;
    background-color:#F5F5F5;
    position:relative;
    left:185px;
    text-align: left;
    border-bottom-style:solid;
    border-bottom-color:#727272;
    border-bottom-width:25px;
}

#footer
{
    width:960px;
    height:50px;
    border-style:hidden;
    border-width:1px;
    background-color:white;
}