body
{
    background-color:#000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#container 
{
    max-width:960px;
    background-color:#727272;
    margin: auto;
    text-align: left;

}

#header
{
    width:960px;
    background-color:white;
    box-shadow:7px 8px 10px;
    
}    

#navigator
{
    float:left;
    position:relative;
    top:13px;
    left:1px;
    width:182px;
}

#content
{
    width:760px;
    background-color:#F5F5F5;
    position:relative;
    bottom:8px;
    left:186px;
    text-align: left;
    box-shadow:0px 0px 20px;

}

#footer
{
    width:960px;
    height:50px;
    border-style:hidden;
    border-width:1px;
    background-color:white;
}

/*meny-inställningar*/
.menu a
{
    position:relative;
    bottom:30px;
    right:37px;
    float:left;
    background:#434449;
    width:155px;
    text-decoration:none;
    list-style:none;
    text-align:left;
    color:white;
    margin-bottom:5px;
    padding:8px;
    box-shadow:5px 2px 35px black;
    border-style:ridge;
    border-color:black;
    border-width:1px;
}
.menu a:visited
{
    background:434449;
}
.menu a:hover
{
    background:#5f6066;
}
.menu a:active
{
    background:#d2d2d2;
}